In [225]:
import pandas as pd
import numpy as np
import seaborn as sns

# ÌïúÍ∏ÄÌè∞Ìä∏ ÏÇ¨Ïö©ÏùÑ ÏúÑÌï¥ ÏÑ§Ïπò
# ÏïÑÎûò Î™®ÎìàÏùÑ ÏÑ§ÏπòÌïòÍ≥† Î∂àÎü¨Ïò§Î©¥ Î≥ÑÎèÑÏùò ÌïúÍ∏ÄÌè∞Ìä∏ ÏÑ§Ï†ïÏù¥ ÌïÑÏöî ÏóÜÏäµÎãàÎã§.
# colab ÏóêÏÑúÎèÑ ÏïÑÎûò ÏÑ§Ïπò Î¨∏Íµ¨Ïùò Ï£ºÏÑùÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÏÑ§ÏπòÌïòÍ≥† import Ìï¥Ï£ºÍ∏∞Îßå ÌïòÎ©¥ ÌïúÍ∏ÄÌè∞Ìä∏Í∞Ä Ïûò ÎÇòÏòµÎãàÎã§.
!pip install koreanize-matplotlib

Requirement already satisfied: koreanize-matplotlib in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (0.0.1)
Requirement already satisfied: matplotlib in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from koreanize-matplotlib) (3.5.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->koreanize-matplotlib) (9.2.0)
Requirement already satisfied: numpy>=1.17 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->koreanize-matplotlib) (1.21.5)
Requirement already satisfied: cycler>=0.10 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->koreanize-matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->koreanize-matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->koreanize-matplotlib) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->koreanize-matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from matplotlib->koreanize-matplotlib) (1.4.2)
Requirement already satisfied: six>=1.5 in /Users/yoon/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)

In [226]:
import koreanize_matplotlib

# df = pd.read_csv("boostcourse-ds-510/data/NHIS_OPEN_GJ_2017.CSV.zip", encoding="cp949")
df = pd.read_csv("https://raw.githubusercontent.com/corazzon/boostcourse-ds-510/master/data/NHIS_OPEN_GJ_2017.CSV.zip",
                 encoding="cp949")

üìå Q1. Ïó∞Î†πÎåÄÎ≥Ñ ÌóàÎ¶¨ÎëòÎ†àÏóê ÎåÄÌïú Í∏∞Ïà†ÌÜµÍ≥ÑÎ•º Íµ¨ÌïòÎ†§Í≥† Ìï©ÎãàÎã§. Îã§Ïùå Ï†úÍ≥µÎêòÎäî ÎîïÏÖîÎÑàÎ¶¨Î•º ÌÜµÌï¥ Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ)Î•º "Ïó∞Î†πÎåÄ"Î°ú ÎßåÎì§Í≥† ÏïÑÎûòÏôÄ Í∞ôÏùÄ Í∏∞Ïà†ÌÜµÍ≥ÑÍ∞íÏùÑ Íµ¨Ìï¥Ï£ºÏÑ∏Ïöî!

In [227]:
age_code = {
 5: '20~24ÏÑ∏',
 6: '25~29ÏÑ∏',
 7: '30~34ÏÑ∏',
 8: '35~39ÏÑ∏',
 9: '40~44ÏÑ∏',
 10: '45~49ÏÑ∏',
 11: '50~54ÏÑ∏',
 12: '55~59ÏÑ∏',
 13: '60~64ÏÑ∏',
 14: '65~69ÏÑ∏',
 15: '70~74ÏÑ∏',
 16: '75~79ÏÑ∏',
 17: '80~84ÏÑ∏',
 18: '85ÏÑ∏+'}

In [229]:
df['ÌóàÎ¶¨ÎëòÎ†à'].head()

0    91.0
1    73.4
2    94.0
3    67.5
4    93.0
Name: ÌóàÎ¶¨ÎëòÎ†à, dtype: float64

In [230]:
df['Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ)'].head()

0    13
1     8
2     8
3    12
4     8
Name: Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ), dtype: int64

In [231]:
#df_group ÏúºÎ°ú Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ) Í∏∞Ï§Ä ÌóàÎ¶¨ÎëòÎ†à describe()
df_group = df.groupby(['Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ)'])['ÌóàÎ¶¨ÎëòÎ†à'].describe()
df_group

                count       mean        std   min   25%   50%   75%    max
Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ)
5             23244.0  75.152220  12.251781  47.5  67.5  73.4  81.0  999.0
6             64898.0  77.704783  16.735734  48.0  69.0  76.5  84.2  999.0
7             77517.0  81.089268  22.988111  49.0  72.0  80.1  88.0  999.0
8             84621.0  82.094012  14.522095   9.2  75.0  82.0  89.0  999.0
9            130912.0  80.488308  10.803098  42.1  73.0  80.0  87.0  999.0
10           118357.0  80.822449   9.521622  40.0  74.0  81.0  87.0  137.0
11           129833.0  81.062754   9.095438   6.5  75.0  81.0  87.0  142.0
12           112175.0  81.799905   8.730398  32.0  76.0  82.0  87.5  139.0
13           106491.0  82.722769   8.596176   0.0  77.0  83.0  88.0  137.0
14            53624.0  83.588500   8.443542  50.0  78.0  83.5  89.0  129.0
15            51586.0  84.063372   8.539639  51.0  78.0  84.0  90.0  129.8
16            25972.0  84.200127   8.772306  50.0  78.0  84.0  90.0  122.0
17            16205.0  83.751435   9.041091  38.0  78.0  84.0  90.0  120.0
18             4125.0  81.736703  17.325969  34.0  75.0  81.5  88.0  999.0

In [232]:
#df_group ÌÉÄÏûÖ ÌôïÏù∏
type(df_group)

pandas.core.frame.DataFrame

In [233]:
#age_code ÌÉÄÏûÖ ÌôïÏù∏
type(age_code)

dict

In [248]:
#age_code ÌÉÄÏûÖ ÏãúÎ¶¨Ï¶àÎ°ú Î∞îÍøà
df_age = pd.Series(age_code)
df_age

5     20~24ÏÑ∏
6     25~29ÏÑ∏
7     30~34ÏÑ∏
8     35~39ÏÑ∏
9     40~44ÏÑ∏
10    45~49ÏÑ∏
11    50~54ÏÑ∏
12    55~59ÏÑ∏
13    60~64ÏÑ∏
14    65~69ÏÑ∏
15    70~74ÏÑ∏
16    75~79ÏÑ∏
17    80~84ÏÑ∏
18      85ÏÑ∏+
dtype: object

In [241]:
# Í≤∞Ï∏°Ïπò Ï†úÍ±∞
df_group = df_group.dropna(axis=0)
df_group = df_group.dropna(axis=1)
df_group

                count       mean        std   min   25%   50%   75%    max
Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ)
5             23244.0  75.152220  12.251781  47.5  67.5  73.4  81.0  999.0
6             64898.0  77.704783  16.735734  48.0  69.0  76.5  84.2  999.0
7             77517.0  81.089268  22.988111  49.0  72.0  80.1  88.0  999.0
8             84621.0  82.094012  14.522095   9.2  75.0  82.0  89.0  999.0
9            130912.0  80.488308  10.803098  42.1  73.0  80.0  87.0  999.0
10           118357.0  80.822449   9.521622  40.0  74.0  81.0  87.0  137.0
11           129833.0  81.062754   9.095438   6.5  75.0  81.0  87.0  142.0
12           112175.0  81.799905   8.730398  32.0  76.0  82.0  87.5  139.0
13           106491.0  82.722769   8.596176   0.0  77.0  83.0  88.0  137.0
14            53624.0  83.588500   8.443542  50.0  78.0  83.5  89.0  129.0
15            51586.0  84.063372   8.539639  51.0  78.0  84.0  90.0  129.8
16            25972.0  84.200127   8.772306  50.0  78.0  84.0  90.0  122.0
17            16205.0  83.751435   9.041091  38.0  78.0  84.0  90.0  120.0
18             4125.0  81.736703  17.325969  34.0  75.0  81.5  88.0  999.0

In [258]:
# df_ageÏôÄ df_group Í∞ÄÎ°úÎ°ú Ìï©Ïπ®
pd.concat([df_age, df_group], axis=1).round(1)

         0     count  mean   std   min   25%   50%   75%    max
5   20~24ÏÑ∏   23244.0  75.2  12.3  47.5  67.5  73.4  81.0  999.0
6   25~29ÏÑ∏   64898.0  77.7  16.7  48.0  69.0  76.5  84.2  999.0
7   30~34ÏÑ∏   77517.0  81.1  23.0  49.0  72.0  80.1  88.0  999.0
8   35~39ÏÑ∏   84621.0  82.1  14.5   9.2  75.0  82.0  89.0  999.0
9   40~44ÏÑ∏  130912.0  80.5  10.8  42.1  73.0  80.0  87.0  999.0
10  45~49ÏÑ∏  118357.0  80.8   9.5  40.0  74.0  81.0  87.0  137.0
11  50~54ÏÑ∏  129833.0  81.1   9.1   6.5  75.0  81.0  87.0  142.0
12  55~59ÏÑ∏  112175.0  81.8   8.7  32.0  76.0  82.0  87.5  139.0
13  60~64ÏÑ∏  106491.0  82.7   8.6   0.0  77.0  83.0  88.0  137.0
14  65~69ÏÑ∏   53624.0  83.6   8.4  50.0  78.0  83.5  89.0  129.0
15  70~74ÏÑ∏   51586.0  84.1   8.5  51.0  78.0  84.0  90.0  129.8
16  75~79ÏÑ∏   25972.0  84.2   8.8  50.0  78.0  84.0  90.0  122.0
17  80~84ÏÑ∏   16205.0  83.8   9.0  38.0  78.0  84.0  90.0  120.0
18    85ÏÑ∏+    4125.0  81.7  17.3  34.0  75.0  81.5  88.0  999.0